## Computing requirements

This project requires the following software to be installed:

- Jupyther Notebook (version 6.0.3)

In addition, the following python packages packages need to be installed for this project. For each package, dependencies must be installed as well. 


The following code installs these packages. It needs to be executed only once. The scripts in this project load the packages where needed.

